body {
	background-color: #000;
	min-height: 100%;

}

main {
	position: relative;
	min-height: 100%;
}

html {
	height: 100%;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
	padding-bottom: 17rem
}

nav {
	background-color: #222 !important;
	z-index: 10;
}


.navbar-text {
	padding-right: 10px;
	padding-left: 10px;
}

.btn-outline-success {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.5);
}

#search-bar {
	padding-left: 20px;
}

.btn:hover {
	background-color: rgba(255, 255, 255, 0.3);
	border-color: rgba(255, 255, 255, 0.3);
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.6);
	color: 
}

.dropdown-item {
	color: rgba(255, 255, 255, 0.5) !important;
}

.dropdown-item:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.8) !important;
}

#register {
	padding-left: 10px;
}

footer {
	height: 17rem;
	background-color: #222;
	padding-top: 50px;
	width: 100%;
	position: absolute;
  	bottom: 0;
}

table {
	color: white;
	font-size: 1rem;
	text-align: center;
}

th {
	padding-bottom: 5px;
}

th a {
	color: rgba(255, 255, 255, 0.7);
}

th a:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
}

td a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
}

td a:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
}

.no-link {
	color: rgba(255, 255, 255, 0.7);
}

.footer-nav {
	width: 800px;
}