.text-container {
	padding: 10px;
	max-height: 100%;
	text-align: right;
}

.image-container {
	position: relative;
	margin-top: 0px;
	margin-left: 30px;
	height: 100%;
	width: 355.55px;
	float: right;
	height: 100%;
	text-align: right;
	overflow: hidden;
    background-size: cover;
  	background-position: center;
  	background-image: url("https://www.telegraph.co.uk/racing/2021/03/16/cheltenham-festival-2021-live-results-day-one-tips-best-bets/");
}


.feed {
  padding: 50px;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.article-preview-image {
	height: 100%;
	width: 100%;
	float: right;
	position:relative;
	object-fit: cover;
}

.post-container {
	width: 100%;
	height: 200px;
	position: relative;
	padding: 0px;
	margin-top: 50px;
	background-color: rgba(255, 255, 255, 0.1);
	overflow: hidden;
}

.save-button {
	text-align: center;
	position: absolute;
	margin: auto;
	right: 0px;
	height: 100%;
	background-color: #fff;
	width: 0;
	top: 0;
	transition: .5s ease;
	width: 0px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
	border: none;
	padding: 0px;
	overflow: hidden;
}

.save-button:hover {
	text-decoration: none;
}


.post-container:hover .save-button {
  width: 40px;
}

.plus {
	margin: auto;
	color: transparent;
	height: 100%;
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
	font-size: 2.5rem;
	text-align: center;
	font-weight: 900;
	padding: 70px 0;
	transition: 0.5s;
}

.article-title {
	font-size: 1.8rem;
	font-weight: 400;
	color: white;
}

.article-title:hover {
	text-decoration: none;
}

.article-description {
	color: white;
	opacity: 0.6;
}

.saved {
	-webkit-text-stroke: 0px;
	color: rgba(255, 255, 255, 0.7) !important;
	transition: 0.5s;
}

.save-button:focus {
	outline: 0;
	
}

.results-title {
	font-size: 2.2rem;
	font-weight: 100;
	color: white;
}

#show-more-container {
	position: relative;
	padding-top: 30px;
	margin: auto;
	width: 106px;
}