{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
{% if get_flashed_messages() %}
    <header>
        <div id="flash-message" class="alert alert-primary border text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
{% endif %}
	<script src="static/js/results.js"></script>
	<link href="static/css/results.css" rel="stylesheet">
	<main class="container">
		<div class="feed">
			<h1 class="results-title">{{ title }}</h1><br>
			<p class="article-title">{{ message }}</p>

		</div>
	</main>
{% endblock %}