{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<link href="static/css/login.css" rel="stylesheet">
{% if get_flashed_messages() %}
    <header>
        <div id="flash-message" class="alert alert-primary border text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
{% endif %}
<div class='container page-box'>
    <div class='feed'>
        <div class='centered' id='login-box'>
            <div class='form-box'>
                <form action="/login" method="post">
                    <h3 id="login">Log In</h3>
                    <span id="usernameError" class="error text-danger">
                    {% if error == 1 %}
                    Username must be provided
                    {% endif %}
                    {% if error == 3 %}
                    Username or password is incorrect
                    {% endif %}
                    </span>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                    </div>
                    <span id="passwordError" class="error text-danger">
                    {% if error == 2 %}
                    Password must be provided
                    {% endif %}
                    </span>
                    <div class="form-group">
                        <input class="form-control" name="password" placeholder="Password" type="password">
                    </div>
                    <button class="btn btn-primary" type="submit">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
